<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="haitsu.groupup_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="haitsu.groupup_test.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="haitsu.groupup_test.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="haitsu.groupup_test.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>


        <activity android:name="haitsu.groupup_test.activity.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
                 See README(https://goo.gl/l4GJaQ) for more. -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/app_icon_transparent" />
            <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
                 notification message. See README(https://goo.gl/6BKBk7) for more. -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@android:color/transparent"/>

        </activity>
        <activity
            android:name="haitsu.groupup_test.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="haitsu.groupup_test.activity.Account.SignInActivity"
            android:label="@string/title_activity_signin"
            android:screenOrientation="portrait"
            android:theme="@style/Toolbar"/>
        <activity
            android:name="haitsu.groupup_test.activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="haitsu.groupup_test.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="haitsu.groupup_test.activity.Account.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="haitsu.groupup_test.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Toolbar" />
        <activity
            android:name="haitsu.groupup_test.activity.ChatsActivity"
            android:label="@string/title_activity_chats"
            android:parentActivityName="haitsu.groupup_test.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Toolbar" />
        <activity
            android:name="haitsu.groupup_test.activity.ChatRoomActivity"
            android:label="@string/title_activity_chat_room"
            android:screenOrientation="portrait"
            android:theme="@style/Toolbar" />
        <activity
            android:name="haitsu.groupup_test.activity.Groups.MyGroupsActivity"
            android:label="@string/title_activity_tabbed_groups"
            android:parentActivityName="haitsu.groupup_test.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="haitsu.groupup_test.activity.Groups.CreateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="haitsu.groupup_test.activity.Groups.GroupMembersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="haitsu.groupup_test.activity.Groups.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="haitsu.groupup_test.activity.Account.AccountSetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="haitsu.groupup_test.activity.Groups.GroupsActivity"
            android:label="@string/title_activity_tabbed_groups"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="haitsu.groupup_test.activity.Search.ResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName="haitsu.groupup_test.activity.Search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Toolbar" />
        <activity
            android:name="haitsu.groupup_test.activity.Search.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="haitsu.groupup_test.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Toolbar" />
        <activity
            android:name="haitsu.groupup_test.activity.Account.ReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Toolbar" />
    </application>

</manifest>