<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="haitsu.groupup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Account.SignInActivity" />
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity
            android:name=".activity.Account.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Toolbar" />
        <activity
            android:name=".activity.ChatRoomActivity"
            android:label="@string/title_activity_chat_room"
            android:theme="@style/Toolbar" />
        <activity
            android:name=".activity.Groups.tabbedGroupsActivity"
            android:label="@string/title_activity_tabbed_groups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Groups.CreateGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Groups.GroupInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Account.AccountSetupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Groups.GroupsActivity"
            android:label="@string/title_activity_tabbed_groups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Search.ResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName=".activity.Search.SearchActivity"
            android:theme="@style/Toolbar" />
        <activity
            android:name=".activity.Search.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Toolbar" />
        <activity
            android:name=".activity.Account.ReportActivity"
            android:theme="@style/Toolbar" />
        <activity
            android:name=".activity.Account.RequestsActivity"
            android:label="@string/title_activity_join_requests"
            android:theme="@style/Toolbar"></activity>
    </application>

</manifest>